<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Customer</title>
</head>
<body>
<h1>Customer Details</h1>

<table border="1" cellpadding="5">
    <tr>
        <th>Id</th>
        <td th:text="${customer.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${customer.name}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${customer.email}"></td>
    </tr>
</table>

<br>
<a th:href="@{/web/customers}">Back to List</a> |
<a th:href="@{'/web/editcustomer/' + ${customer.id}}">Edit</a> |
<a th:href="@{'/web/deletecustomer/' + ${customer.id}}"
   onclick="return confirm('Are you sure?')">Delete</a>

</body>
</html>
